{% extends "parts/_template.njk" %}

  {% block main %}
  <div class="jumbotron jumbotron-about-hero">
      <div class="container">
        <h1>About</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2>History of Midwest Ag Enterprises</h2>
          <p>Midwest Ag Enterprises Inc. was formed in Marshall, MN in 2002. The primary focus of the business was liquid feed for the Dairy Farms and Feedlot Cattle. In 2003, Midwest Ag Enterprises Inc. became the first exporter of New generation DDG's to the Pacific Rim with two containers of product shipped to Malaysia. This business continued to grow and Midwest Ag Enterprises Inc. was the largest container exporter of DDG's for 5 years.</p>

          <p>Midwest Ag Enterprises Inc. was the first company to market and sell New Generation DDG's to China in 2008. In 2008 two owners of Midwest Ag Enterprises purchased Protein Resources Inc. in West Bend IA. This purchase opened the doors for the company to begin marketing added value protein products to the Pacific Rim. Today Midwest Ag Enterprises along with its distribution partners is one of the largest companies in the world marketing Porcine solubles derived products. Midwest Ag Enterprises also markets fish soluble products produced at Protein Resources LLC.</p>   

          <p>In 2010, Midwest Ag Enterprises Inc. divested from its liquid feed business to focus mainly on the added value animal protein business. Midwest Ag Enterprises Inc. began the Nutrivance project in 2012. Nutrivance is a high value "Advanced Soy Protein" primarily for Small Animals and Aquaculture. Nutrivance received the honor of Inventors of the year award in 2014 from AURI in Minnesota.</p>

          <p>Midwest Ag Enterprises Inc. received the Minnesota Governors Trade award in 2015. Midwest is a home grown Minnesota company focused on provided high quality products for end user customers.<p>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
