{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-contact-hero">
      <div class="container">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>For more information regarding Midwest Ag Enterprises, Inc. and its industry leading products please contact:</p>
          <address>
            <strong>Midwest Ag Enterprises, Inc.</strong><br>
            505 West Main Street<br>
            Marshall, MN 56258<br>
            Phone: 507-929-7811<br>
            Fax: 507-929-7719<br><br>

            <strong>Asia technical support and China Market</strong><br>
            Guowu Xu, Ph.D<br>
            (001)651-402-1369<br>
            <a href="mailto:guowuxu@gmail.com">guowuxu@gmail.com</a>
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
