{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-contact-hero">
      <div class="container">
        <h1>Contact Us</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>For more information regarding Stuhr Enterprises, LLC. and its industry leading products please contact:</p>
          <address>
            <strong>Stuhr Enterprises, LLC.</strong><br>
            505 West Main Street<br>
            Marshall, MN 56258<br>
            Phone: 507-929-7811<br>
            Fax: 507-929-7719<br><br>

            <strong>Alan Tessner</strong><br>
            U.S. Technical / Sales Manager<br>
            806-346-2362<br>
            <a href="mailto:alan@stuhrenterprises.com">alan@stuhrenterprises.com</a><br><br>            
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
