{% extends "parts/_template.njk" %}

  {% block main %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbotron-home-hero">
          <div class="container">
            <h1>Alternative Proteins &amp; Small Grains<br>for <u>Small Animals</u> and <u>Aquaculture</u></h1>
            <!--<p><a class="btn btn-primary btn-lg" href="contact-us.html" role="button">Get in touch today &raquo;</a></p>-->
          </div>
        </div>
        <div class="recognition">
          <i class="fas fa-certificate"></i>Recipient of the <a href="/about/#recognition">Governor's International Trade Award</a> of Minnesota
        </div>
        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-xs-12">
              <div class="transition-nutrition-solution">
                <h2 class="attention--bg">Agricultural Solutions for Today and Tomorrow</h2>
                <p>
                  Midwest Ag Enterprises, Inc. (MAE) is a privately held company established in 2002. Based in Marshall MN, MAE is an exporter of high quality feed ingredients to end-user customers in the Pacific Rim and China.
                </p>
                <!--
                <p>Long term result are found in the ingredients. Young animal feeds that serve the <strong>palate</strong> and promote <strong>gut health</strong> will pay in dividends.</p>
                <p>Midwest Ag provides these results. Why suffer the cost of the cheapest program? Check out our <a href="#">products</a> and <a href="#">get in touch</a> with us today.</p>
                -->
              </div>
            </div>
          </div>
          <div class="row checklist">
              <div class="col-xs-12">
                <h2 class="attention">Products</h2>
              </div>
              <div class="clearfix"></div>
              <div class="col-sm-6">
                <ul>
                  <li><i class="fas fa-check"></i> Weaning piglet diets</li>
                  <li><i class="fas fa-check"></i> Young broiler chicken pre-starter feed</li>
                </ul>
              </div>
              <div class="col-sm-6">
                <ul>
                  <li><i class="fas fa-check"></i> Aqua feeds for Larvae / Fry / Juvenil</li>
                  <li><i class="fas fa-check"></i> Pet foods for Puppy &amp; Kitty</li>
                </ul>
              </div>
            </div>
          <div class="product-logos">
            <a href="/products/ferm-o-tide-xp/"><img src="/images/plogo-fermotidexp.jpg" alt="Ferm-O-Tide XP"></a>
            <img src="/images/plogo-neptide.jpg" alt="">
            <img src="/images/plogo-nutrivance.jpg" alt="">
            <img src="/images/plogo-pentone50.jpg" alt="">
            <img src="/images/plogo-sdp80.jpg" alt="">
          </div>
        </div>
  {% endblock %}
