{% extends "parts/_template.njk" %}

  {% block main %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron jumbotron-products-hero">
      <div class="container">
        <h1>Fermo-O-Tide XP</h1>
      </div>
    </div>
    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="product-icons">
            <img src="/images/icon-shrimp.png" alt="shrimp">
            <img src="/images/icon-pig.png" alt="pig">
            <img src="/images/icon-chicken.png" alt="chicken">
          </div>
          <p>
            <strong>Ferm-O-Tide</strong> is a proprietary combination of enzymatically hydrolyzed protein sources. It includes porcine intestinal mucosa and vegetable protein. Ferm-O-Tide contains a high ratio of low molecular weight peptides. Ferm-O-Tide is ideally suited to replace or complement spray dried porcine plasma for early weaning pig diets. Ferm-O-Tide can also replace high quality fish meal for early weaned pig, growing-finish pig, lactating sow, broiler, layer, and aquaculture diets. Ferm-O-Tide has also been found to be an excellent attractant for aquaculture.
          </p>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
