{% extends "parts/_template.njk" %}

  {% block main %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
     <div class="jumbotron jumbotron-products-hero">
      <div class="container">
        <h1>Fermo-O-Tide XP</h1>
        <img src="/images/plogo-fermotidexp.jpg" class="j-logo" alt="Ferm-O-Tide" title="Ferm-O-Tide">
      </div>
    </div>
    <div id="content" class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="product-icons">
            <img src="/images/icon-shrimp.png" alt="shrimp">
            <img src="/images/icon-pig.png" alt="pig">
            <img src="/images/icon-chicken.png" alt="chicken">
          </div>
          <p>
            <strong>Ferm-O-Tide</strong> is a proprietary combination of enzymatically hydrolyzed protein sources. It includes porcine intestinal mucosa and vegetable protein. Ferm-O-Tide contains a high ratio of low molecular weight peptides. Ferm-O-Tide is ideally suited to replace or complement spray dried porcine plasma for early weaning pig diets. Ferm-O-Tide can also replace high quality fish meal for early weaned pig, growing-finish pig, lactating sow, broiler, layer, and aquaculture diets. Ferm-O-Tide has also been found to be an excellent attractant for aquaculture.
          </p>
          <p class="text-center"><i class="fas fa-file-pdf"></i> <a href="/pdfs/ferm-o-tide-flyer.pdf">Ferm-O-Tide Flyer</a></p>
          <hr>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Product Features</div>
            <div class="panel-body">
              <ul>
                <li>Hydrolyzed  </li>
                <li>Highly digestible  </li>
                <li>Low in sulfur and sodium  </li>
                <li>Excellent palatability  </li>
                <li>Balance amino acid profile  </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Product Benefits</div>
            <div class="panel-body">
              <ul>
                <li>Improved protein digestibility</li>
                <li>Complementary to Plasma</li>
                <li>Replaces other high quality protein</li>
                <li>Enhance gut health and development</li>
                <li>Cost effective</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Physical Properties</div>
            <div class="panel-body">
              <ul>
                <li>Color: Tan</li>
                <li>Texture: Fine Powder or Granular</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Guaranteed Analysis</div>
            <div class="panel-body">
              <ul>
                <li>Crude Protein, not less than    53.5%</li>
                <li>Crude Fat, not less than    8.5%</li>
                <li>Crude Fat, not less than    8.5%</li>
                <li>Crude Fiber, not more than    1.5%</li>
                <li>Moisture, not more than    9.0%</li>
                <li>Ash, not more than    12.0%</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Typical Energy Values (as fed)</div>
            <div class="panel-body">
              <ul>
                <li>Metabolizable Energy (ME) Poultry, kcal/kg 
                2718</li>
                <li>Metabolizable Energy (ME) Swine, kcal/kg 
                3236</li>
                <li>Digestive Energy (DE) Swine, kcal/kg    3371</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Microbiology</div>
            <div class="panel-body">
              <ul>
                <li>Coliforms &lt; 10 cfu /g</li>
                <li>Yeast and mould    &lt; 50 cfu/g</li>
                <li>Salmonella negative    (guaranteed)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">Shelf Life</div>
            <div class="panel-body">
              <p>1 year when stored dry and cool in unopened package.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <h2 class="attention spacing-tb">Typical Analysis</h2>
        </div>
        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>DRY MATTER</td><td>94.0</td>
            </tr>
            <tr>
              <td>CRUDE PROTEIN</td><td>54.4</td>
            </tr>
            <tr>
              <td>CRUDE FAT</td><td>11.6</td>
            </tr>
            <tr>
              <td>LYSINE</td><td>3.78</td>
            </tr>
            <tr>
              <td>METHIONINE</td><td>0.90</td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>CYSTINE</td><td>0.76</td>
            </tr>
            <tr>
              <td>THREONINE</td><td>2.12</td>
            </tr>
            <tr>
              <td>TRYPTOPHAN</td><td>0.39</td>
            </tr>
            <tr>
              <td>VALINE</td><td>2.75</td>
            </tr>
            <tr>
              <td>ISOLEUCINE</td><td>2.33</td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>LEUCINE</td><td>4.12</td>
            </tr>
            <tr>
              <td>PHENYLALANINE</td><td>2.48</td>
            </tr>
            <tr>
              <td>ASPARTIC ACID</td><td>5.12</td>
            </tr>
            <tr>
              <td>SERINE</td><td>2.22</td>
            </tr>
            <tr>
              <td>GLUTAMIC ACID</td><td>8.11</td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>GLYCINE</td><td>2.98</td>
            </tr>
            <tr>
              <td>ALANINE</td><td>2.73</td>
            </tr>
            <tr>
              <td>HISTIDINE</td><td>1.13</td>
            </tr>
            <tr>
              <td>ARGININE</td><td>3.15</td>
            </tr>
            <tr>
              <td>PROLINE</td><td>2.54</td>
            </tr>
          </table>
        </div>

        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>TYROSINE</td><td>1.91</td>
            </tr>
            <tr>
              <td>TAURINE</td><td>0.15</td>
            </tr>
            <tr>
              <td>CA</td><td>0.27</td>
            </tr>
            <tr>
              <td>P</td><td>0.83</td>
            </tr>
            <tr>
              <td>K</td><td>1.80</td>
            </tr>
          </table>
        </div>

      
        <div class="col-sm-6">
          <table class="table table-striped">
            <tr>
              <td>NA</td><td>1.76</td>
            </tr>
            <tr>
              <td>S</td><td>1.18</td>
            </tr>
          </table>
        </div>

        



      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
