{% extends "parts/_template.njk" %}

  {% block main %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-transloading-hero">
      <div class="container">
        <h1>Transloading</h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>We have private logistic warehouse and packing facilities at Butler MO and Kensas City KS to provide storage, distribution, further milling process, and container transloading services.</p>         
        </div><!--/.col-xs-12-->
      </div><!--/.row-->
    </div><!--/.container-->
  {% endblock %}
