
.transition-nutrition-solution {
  padding: 1rem;
}

.transition-nutrition-solution h2 {
  background: #efefef;
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 2px 2px 0 #999999;
  margin-bottom: 4rem;
  margin-top: 0;
  text-align: center;
}

.transition-nutrition-solution p {
  color: #000;
}

.title-standout {
  background: #efefef;
  display: inline-block;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 2px solid #000;
}

.title-standout sup {
  top: -0.6em;
}

.products {
  @include respond-at(768px){
    padding: 0 4rem;
  }
}

.product-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  img {
    border-radius: 15px;
    height: 75px;
    margin: 2rem .75rem .75rem .75rem;
  }
}