.no-jumbo {
  margin-top: 75px;
}

.jumbotron {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  margin-bottom: 3rem;
  min-height: 350px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: none;
  h1 {
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    font-size: 5rem;
    margin: 4rem 0 2rem 0;
    padding: 1.25rem 1.75rem;
  }
}

.jumbotron-home-hero {
  background-image: url("/images/mae-home-hero-sm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  @include respond-at(768px) {
    background-image: url("/images/mae-home-hero-lg.jpg");
    background-position: 0 0;
  }
  @include respond-at(1200px) {
    background-position: 0 -205px;
  }
  ul {
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 1rem;
  }
  li {
    font-size: 2.5rem;
    line-height: 2;
    list-style: none;
    padding-left: 1rem;
    position: relative;
    i {
      left: -2.5rem;
      position: absolute;
      top: 1.2rem;
    }
  }
}

.jumbotron-glucose-hero {
  background: url("/images/anion-glucose-hero.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron-glucose-hero img {
  bottom: 30px;
  position: absolute;
  right: 90px;
}

.jumbotron-anion-hero img, .jumbotron-glucose-hero img {
  @include respond-up-to(767px) {
    bottom: 15px;
    right: 15px;
  }
}

.jumbotron-anion-hero h1, .jumbotron-glucose-hero h1 {
  @include respond-up-to(767px) {
    padding: 30px 0;
  }
}

.jumbotron-contact-hero {
  background: url("/images/contact-hero.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.jumbotron-about-hero {
  background-image: url("/images/mae-about-hero-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  @include respond-at(768px){
    background-image: url("/images/mae-about-hero-lg.jpg");
  }
}