    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>Midwest Ag Enterprises, Inc. |  505 West Main Street, Marshall, MN 56258 |  Office 507.929.7811 | <a href="privacy-policy.html">Privacy Policy</a></p>
            <p>Copyright &copy; 2018 Midwest Ag Enterprises, Inc. All Rights Reserved.</p>
          </div>
        </div>
      </div><!--/.container-->
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="dist/js/main.bundle.js"></script>
  </body>
</html>